extends layout

block content
  body
    h1= title

    input#searchInput(type="text", name="songTitle", placeholder="enter the song title")
    button#goButton(type="submit", class="btn btn-primary") Let's go

    #rdioResultsContainer

    #api.rdio-playback-container

    #rdioPlayer.hidden
      button#rdioPlay.btn.btn-primary
        i.icon-white.icon-play
      button#rdioPause.btn.btn-primary
        i.icon-white.icon-pause

