extends layout

block content
  body
    h1= title

    input#searchInput(type="text", name="songTitle", placeholder="enter a song title, artist, etc.")
    button#goButton(type="submit", class="btn btn-primary") Let's go

    #rdioResultsContainer

    #api.rdio-playback-container

    #rdioPlayer
      button#rdioPlay.btn.btn-primary Play
      button#rdioPause.btn.btn-primary Pause

