extends layout

block content
    h1= title
    canvas#viewport

    #searchContainer
      input#searchInput(type="text", name="songTitle", placeholder="enter a song title, artist, etc.")
      button#goButton(type="submit", class="btn btn-primary") Go
      #rdioResultsContainer.hidden

    #lyricsContainer.hidden
    #myPublisherDiv

    img#psyContainer(src="/images/little-psy.gif")

    #api.rdio-playback-container

    #rdioPlayer.hidden
      button#rdioPlay.btn.btn-primary
        i.icon-white.icon-play
        i.icon-white.icon-pause

    #credits
      img#rdioimage(src="/images/RdioWhiteLogo.png")
      img#mxmimage(src="/images/mxm_logo_footer.png")
      img#echoimage(src="/images/EN_P_on_Light_Transparent.png")

    script(id="lyricTemplate", type="text/x-mustache-template")
      .lyric-row(data-time='{{{timestamp}}}', data-i='{{{i}}}')
        | {{lyric}}
