extends layout

block content
    h1= title
    canvas#viewport

    #searchContainer
      input#searchInput(type="text", name="songTitle", placeholder="enter a song title, artist, etc.")
      button#goButton(type="submit", class="btn btn-primary") Go
      ul#searchResultsContainer.hidden

    #lobbyContainer.hidden
      #syncStep1.sync-step
        .sync-heading Sync Step 1
        | Enter the link below in your smartphone or tablet browser.
      #joinLink justsing.it/join
      #syncStep2.sync-step
        .sync-heading Sync Step 2
        | Enter the code below on the mobile site.
      #roomId
      #guestCount
      button.partyButton.btn.btn-primary Let's Party

    #lyricsContainer.hidden
    #myPublisherDiv

    img#psyContainer(src="/images/little-psy.gif")

    #api.rdio-playback-container

    #rdioPlayer.hidden
      button#rdioPlay.btn.btn-primary
        i.icon-white.icon-play
        i.icon-white.icon-pause

    #credits
      img#rdioimage(src="/images/RdioWhiteLogo.png")
      img#mxmimage(src="/images/mxm_logo_footer.png")
      img#echoimage(src="/images/EN_P_on_Light_Transparent.png")

    script(id="lyricTemplate", type="text/x-mustache-template")
      .lyric-row(data-time='{{{timestamp}}}', data-i='{{{i}}}')
        | {{lyric}}

    script(id="searchResultTemplate", type="text/x-mustache-template")
      {{#songs}}
      li.list-search-result(data-key='{{{key}}}', data-track-id='{{{track_id}}}')
        | {{artist}} - {{track}}
      {{/songs}}
      {{^songs}}
      p Sorry, no results found.
      {{/songs}}
