extends layout

block content
    h1= title
    canvas#viewport

    #searchContainer
      input#searchInput(type="text", name="songTitle", placeholder="enter a song title, artist, etc.")
      button#goButton(type="submit", class="btn btn-primary") Go
      #rdioResultsContainer

    #lyricsContainer
    #myPublisherDiv
    
    img#psyContainer(src="/images/little-psy.gif")
    
    #api.rdio-playback-container

    #rdioPlayer.hidden
      button#rdioPlay.btn.btn-primary
        i.icon-white.icon-play
      button#rdioPause.btn.btn-primary
        i.icon-white.icon-pause

    #div(style='float: left; width: 100px; border-right: 1px solid black; height: 300px; padding: 10px; overflow: scroll-y;')
      b USERS
        #users

    script(id="lyricTemplate", type="text/x-mustache-template")
      .lyric-row(data-time='{{{timestamp}}}', data-i='{{{i}}}')
        | {{lyric}}
