extends layout

block content
  h1= title

  form#joinContainer(action="join_room", method="post")
    input#joinInput(name="roomId", type="text")
    input#joinButton(type="submit", class="btn btn-primary") Join

  // TODO: FIX ME
  script(id="lyricTemplate", type="text/x-mustache-template")
    .lyric-row(data-time='{{{timestamp}}}', data-i='{{{i}}}')
      | {{lyric}}

  script(id="searchResultTemplate", type="text/x-mustache-template")
    {{#songs}}
    li.list-search-result(data-key='{{{key}}}', data-track-id='{{{track_id}}}')
      | {{artist}} - {{track}}
    {{/songs}}
    {{^songs}}
    p Sorry, no results found.
    {{/songs}}
