doctype 5
html(lang="en")
  head
    title
      | Sing Along With Me
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    script(type="text/javascript", src="/javascripts/vendor/jquery-1.9.0.min.js")
    script(type="text/javascript", src="/javascripts/vendor/modernizr-2.6.2.min.js")
    script(type="text/javascript", src="/javascripts/vendor/handlebars-1.0.0.min.js")
    script(type="text/javascript", src="/javascripts/vendor/jquery.rdio.min.js")
    script(type="text/javascript", src="/javascripts/vendor/glsl.js")
    script(type="text/javascript", src="/javascripts/vendor/tinypubsub.js")
    script(type="text/javascript", src="http://static.opentok.com/v0.91/js/TB.min.js")
    script(type="text/javascript", src="https://rdio.com/api/api.js?client_id=Hr2IoJb_gqY1pNm1M1CIJA")
    script(src="/socket.io/socket.io.js")
    script(src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js")

    script(type="text/javascript", src="/javascripts/plugins.js")
    script(type="text/javascript", src="/javascripts/RdioHelper.js")
    script(type="text/javascript", src="/javascripts/musixmatch.js")
    script(type="text/javascript", src="/javascripts/tokbox.js")
    script(type="text/javascript", src="/javascripts/main.js")
