doctype 5
html(lang="en")
  head
    title
      | Sing Along With Me
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript')
      var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38636035-1']);
        _gaq.push(['_setDomainName', 'justsing.it']);
        _gaq.push(['_trackPageview']);
      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  body
    block content

    //  -  Vendor Javascript

    script(type="text/javascript", src="/javascripts/vendor/jquery-1.9.0.min.js")
    script(type="text/javascript", src="/javascripts/vendor/tinypubsub.js")
    script(type="text/javascript", src="/javascripts/vendor/underscore.min.js")
    script(type="text/javascript", src="/javascripts/vendor/backbone.min.js")
    script(type="text/javascript", src="/javascripts/vendor/modernizr-2.6.2.min.js")
    script(src="http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js")
    script(type="text/javascript", src="/javascripts/vendor/jquery.rdio.min.js")
    script(type="text/javascript", src="https://rdio.com/api/api.js?client_id=Hr2IoJb_gqY1pNm1M1CIJA")
    script(type="text/javascript", src="/javascripts/vendor/glsl.js")
    script(src="/socket.io/socket.io.js")


    //  - App Javascript

    // -- Models
    script(type="text/javascript", src="/javascripts/models/lyricData.js")
    script(type="text/javascript", src="/javascripts/models/timeout.js")
    script(type="text/javascript", src="/javascripts/models/searchResult.js")
    script(type="text/javascript", src="/javascripts/models/mood.js")

    // -- Collections
    script(type="text/javascript", src="/javascripts/collections/lyricDataList.js")
    script(type="text/javascript", src="/javascripts/collections/timeoutList.js")
    script(type="text/javascript", src="/javascripts/collections/searchResultsList.js")

    // -- Views
    script(type="text/javascript", src="/javascripts/views/lyricsContainer.js")
    script(type="text/javascript", src="/javascripts/views/searchResults.js")
    script(type="text/javascript", src="/javascripts/views/glsl.js")

    // -- Adapters
    script(type="text/javascript", src="/javascripts/adapters/rdio.js")
    script(type="text/javascript", src="/javascripts/adapters/musixmatch.js")
    script(type="text/javascript", src="/javascripts/adapters/echonest.js")
    script(type="text/javascript", src="/javascripts/adapters/tokbox.js")

    // -- Core
    script(type="text/javascript", src="/javascripts/user.js")
    script(type="text/javascript", src="/javascripts/plugins.js")

    script(type="text/javascript", src="/javascripts/main.js")
