body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #fff;
  background: url("/images/bgimage.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Archivo Black', sans-serif;
}

a {
  color: #00B7FF;
}

li {
  list-style-type: none;
  padding-top: 5px;
}

#searchInput {
  margin-right: 20px;
  margin-top: 10px;
}

#rdioPlayer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -52px;
}

#rdioPlay, #rdioPause {
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

#rdioPlay {
  margin-right: 5px;
}

.hidden {
  display: none;
}

#rdioResultsContainer {
  font-size: 22px;
}

.highlight-lyric {
  color: yellow;
}
